.footer {
  width: 100%;
  height: 100px;
  border-top: 5px solid #509DC4;
  display: flex;
  padding: 1rem 0;
  max-width: 1200px;
  gap: 2rem;
  align-items: center;
}

.logo {
  height: 3em;
  margin: 5px;
}
